doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        //- CSS will be injected here automatically by gulp-inject
        //- inject:css
        //- endinject
        meta(name="description", content=description)

        //- -------------------------------------------------------------------------
        //- Analytics Injection Pipeline
        //- -------------------------------------------------------------------------
        if analytics && analytics.googleAnalyticsId
            // Google Analytics (GA4)
            script(async src=`https://www.googletagmanager.com/gtag/js?id=${analytics.googleAnalyticsId}`)
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '#{analytics.googleAnalyticsId}');

        if analytics && analytics.hotjarId
            // Hotjar Tracking Code
            script.
                (function(h,o,t,j,a,r){
                    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                    h._hjSettings={hjid:#{analytics.hotjarId},hjsv:6};
                    a=o.getElementsByTagName('head')[0];
                    r=o.createElement('script');r.async=1;
                    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                    a.appendChild(r);
                })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

    body
        header.site-header
            block header
                h1= title
                p.tagline= description
        
        main.site-content
            block content
        
        footer.site-footer
            p &copy; 2025 #{author}. Built with DesignOps Orchestrator.
        
        //- JS will be injected here automatically by gulp-inject
        //- inject:js
        //- endinject